<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value=".nuget" />
  </config>
  <packageSources>
    <add key="SourceGenerators.Debug" value="..\SourceGenerators\bin\Debug" />
    <add key="SourceGenerators.Release" value="..\SourceGenerators\bin\Release" />
  </packageSources>
</configuration>
